<<<<<<< HEAD
<body>
  <div class="container">
    <h2>Vote for your favourite movie</h2>
    <div id="hasVotedAlreadyErrorMsg" class="card-panel hidden" style="width: 100%">
      <span class="red-text text-darken-2">You have already voted, you can only vote once.</span>
    </div>
    <form id="vote-form" style="margin-left:45px;">
      <p>
        <input type="radio" name="movie" id="padmavat" value="Padmavat">
        <label for="padmavat">Padmavat</label>
      </p>
      <p>
        <input type="radio" name="movie" id="other" value="Other">
        <label for="other">Sholay</label>
      </p>
      <p>
        <input type="radio" name="movie" id="padmavat" value="Padmavat">
        <label for="padmavat">Mr India</label>
      </p>
      <p>
        <input type="radio" name="movie" id="other" value="Other">
        <label for="other">Golmaal</label>
      </p>
      <p>
        <input type="radio" name="movie" id="padmavat" value="Padmavat">
        <label for="padmavat">Don</label>
      </p>
      <p>
        <input type="radio" name="movie" id="other" value="Other">
        <label for="other">Lagaan</label>
      </p>
      <p>
        <input type="radio" name="movie" id="padmavat" value="Padmavat">
        <label for="padmavat">Anand</label>
      </p>
      <p>
        <input type="radio" name="movie" id="other" value="Other">
        <label for="other">3 Idiots</label>
      </p>
      <p>
        <input type="radio" name="movie" id="padmavat" value="Padmavat">
        <label for="padmavat">Rang de Basanti</label>
      </p>
      <p>
        <input type="radio" name="movie" id="other" value="Other">
        <label for="other">Swades</label>
      </p>
      <input type="submit"  value="Vote" class="btn">
    </form>

    <br>
    <br>
    
    <h5 style="text-align: center" id="chartTitle"></h5>
    <div id="chartContainer" style="height: 300px;width:100%"></div>
  </div>
